body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #FAFAFA;
}

header{
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

main{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    color: #FAFAFA;
}

input[type="text"]{
    width: 94%;
    height: 30px;
    padding: 0 3%;
    background-color: rgb(214, 214, 214);
    outline: none;
    border: none;
}

input[type="text"]:hover{
    background-color: rgb(194, 194, 194);
}

input[type="number"]{
    width: 94%;
    height: 30px;
    padding: 0 3%;
    background-color: rgb(214, 214, 214);
    outline: none;
    border: none;
}

input[type="number"]:hover{
    background-color: rgb(194, 194, 194);
}

span{
    color: red;
}

button{
    background-color: rgb(214, 214, 214);
    padding: 10px 20px;
    border: none;
}

button:hover{
    background-color: rgb(194, 194, 194);
}

table{
    width: 100%;
}

td{
    padding: 10px;
}

.container{
    width: auto;
    min-width: 350px;
}